#container {
    align-items: center;
    background: #FFF;

}

#maincontainer {
    max-width: 1604px;
    padding: 96px;
    align-items: center;
    background: #E2F7FF;
    margin: 0 auto;
}

#littlecontainer {
    max-width: 1280px;
    background: #E2F7FF;
    padding: 0px var(--container-padding-desktop, 32px);
    margin: 0 auto;
}

#imgonediv {
    border-radius: var(--radius-2xl, 16px);

}

#imgone {
    width: 100%;
}

#olivia {
    color: #6941C6;
    font-size: 14px;
}

#uX {
    color: #181D27;
    font-size: 30px;
}

#howtext {
    overflow: hidden;
    color: #535862;
    font-size: 16px;
}

#buttonone {
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #E9D7FE;
    background: #F9F5FF;
    padding: 8px 12px;
    align-items: center;
    color: #6941C6;

}

#buttontwo {
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #C7D7FE;
    background: #EEF4FF;
    padding: 8px 12px;
    align-items: center;
    color: #3538CD;
    text-align: center;
    margin: 8px;

}

#buttonthree {
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #FCCEEE;
    background: #FDF2FA;
    color: #C11574;
    text-align: center;
    margin: 8px;
}

#containerboxtwo,
#imgdivtwo,
#imgdivthree {
    margin-top: 64px;
    width: 30%;
    display: inline-block;
}

#boximgtwo,
#boximgthree,
#boximgfour {
    width: 100%;
}

#phoenix,
#lana,
#alec,
#demi {
    color: #6941C6;
    font-size: 14px;
}

#migrating,
#building,
#bill,
#mental {
    color: #181D27;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

#migrating,
#bill,
#building,
#mental {
    margin: 0;

}

#helps,
#rise,
#like,
#models {
    overflow: hidden;
    color: #535862;
    font-size: 16px;
    max-width: 384px;
}

#containerthree,#containersix {
    margin-top: 64px;
    width: 30%;
    display: inline-block;
    margin-left: 32px;
}

#containerfour {

    margin-top: 64px;
    width: 30%;
    display: inline-block;
    margin-left: 32px;
}

#product {
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #B9E6FE;
    background: #F0F9FF;
    color: #026AA2;
}

#tools {
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #B9E6FE;
    background: #F0F9FF;
    color: #C11574;
}

#saa {
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #B9E6FE;
    background: #F0F9FF;
    color: #C11574;
}

#software {
    padding: 8px 12px;
    align-items: center;
    border: 1px solid #ABEFC6;
    border-radius: var(--radius-full, 9999px);
    background: #ECFDF3;
    color: #067647;
    text-align: center:;
}

#toolstwo {
    color: #C11574;
    text-align: center;
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #FCCEEE;
    background: #FDF2FA;
}

#leadership {
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #E9D7FE;
    background: #F9F5FF;
    padding: 8px 12px;
    align-items: center;
    color: #6941C6;
    text-align: center;
}

#Management {
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #D5D9EB;
    background: #F8F9FC;
    color: #363F72;
}

#arrow {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    margin-left: 60px;

}

#producttwo {
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #B9E6FE;
    background: #F0F9FF;
    padding: 8px 12px;
    align-items: center;
    color: #026AA2;
    text-align: center;

}

#Research {
    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #C7D7FE;
    background: #EEF4FF color;
    text-align: center;
    color: #3538CD;
}

#frame {

    padding: 8px 12px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #F9DBAF;
    background: #FEF6EE;
    color: #B93815;
    text-align: center;
}